<a href="https://colab.research.google.com/github/cristianopoeta/DSWP/blob/master/NB10_04__Transformation_exerc_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercícios 6 - 120 years of Olympic history: athletes and results
* [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results)
    * Trate adequadamente as variáveis 'sex', 'season', 'team', 'city', 'sport' e 'medal';
    * Aplique as transformações que acabamos de estudar nos campos/colunas numéricas 'height' e 'weight'. Cuidado com os Missing Values contidos nas variáveis!
    * Verifique/avalie o impacto dos outliers nestas colunas.
    * Neste caso, qual transformação é mais adequado diante dos outliers?

In [1]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [2]:
pd.read_csv('/content/drive/My Drive/DSWP/athlete_events.csv')

            ID  ... Medal
0            1  ...   NaN
1            2  ...   NaN
2            3  ...   NaN
3            4  ...  Gold
4            5  ...   NaN
...        ...  ...   ...
271111  135569  ...   NaN
271112  135570  ...   NaN
271113  135570  ...   NaN
271114  135571  ...   NaN
271115  135571  ...   NaN

[271116 rows x 15 columns]