<a href="https://colab.research.google.com/github/cryssoga/DSWP/blob/master/Notebooks/NB10_01_Pandas_Exerc%C3%ADcio_FIFA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [176]:
url = 'https://raw.githubusercontent.com/cryssoga/DSWP/master/Dataframes/FIFA.csv'
df_Fifa = pd.read_csv(url)

In [26]:
df_Fifa.head()

   Unnamed: 0      ID  ... GKReflexes  Release Clause
0           0  158023  ...        8.0         €226.5M
1           1   20801  ...       11.0         €127.1M
2           2  190871  ...       11.0         €228.1M
3           3  193080  ...       94.0         €138.6M
4           4  192985  ...       13.0         €196.4M

[5 rows x 89 columns]

In [82]:
# Exercício 9
# 3. Qual o dtype de cada variável/atributo do dataframe?
# dtypes e info() => diferenças

df_Fifa.dtypes   # df_Fifa.info => fornece informações de todas as colunas, vide execução adiante

Unnamed: 0          int64
ID                  int64
Name               object
Age                 int64
Photo              object
                   ...
GKHandling        float64
GKKicking         float64
GKPositioning     float64
GKReflexes        float64
Release Clause     object
Length: 89, dtype: object

In [34]:
df_Fifa.columns

Index(['Unnamed: 0', 'ID', 'Name', 'Age', 'Photo', 'Nationality', 'Flag',
       'Overall', 'Potential', 'Club', 'Club Logo', 'Value', 'Wage', 'Special',
       'Preferred Foot', 'International Reputation', 'Weak Foot',
       'Skill Moves', 'Work Rate', 'Body Type', 'Real Face', 'Position',
       'Jersey Number', 'Joined', 'Loaned From', 'Contract Valid Until',
       'Height', 'Weight', 'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW',
       'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM',
       'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'Crossing',
       'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling',
       'Curve', 'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration',
       'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower',
       'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression',
       'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure',
       'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling',
       'GKKicking', 'GKPositioning', 'GKReflexes', 'Release Clause'],
      dtype='object')

In [35]:
df_Fifa.shape

(18207, 89)

In [ ]:
# Exercício 9
# 2. Que colunas podem previamente ser eliminadas da análise? Porque identificar o que pode ser eliminado é importante?
### Colunas que eu eliminaria inicialmente (consome menos memória)
''' 
df_Fifa = df_Fifa.drop(['Unnamed: 0','Photo','Flag','Overall', 'Potential','Club Logo',
        'Special', 'Preferred Foot', 'International Reputation', 'Weak Foot',
        'Skill Moves', 'Work Rate', 'Real Face','Jersey Number','Loaned From',
        'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW',
       'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM',
       'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'Crossing',
       'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling',
       'Curve', 'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration',
       'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower',
       'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression',
       'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure',
       'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling',
       'GKKicking', 'GKPositioning', 'GKReflexes'], axis = 1)
'''
###

In [83]:
df_Fifa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18207 entries, 0 to 18206
Data columns (total 89 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                18207 non-null  int64
 1   ID                        18207 non-null  int64
 2   Name                      18207 non-null  object
 3   Age                       18207 non-null  int64
 4   Photo                     18207 non-null  object
 5   Nationality               18207 non-null  object
 6   Flag                      18207 non-null  object
 7   Overall                   18207 non-null  int64
 8   Potential                 18207 non-null  int64
 9   Club                      17966 non-null  object
 10  Club Logo                 18207 non-null  object
 11  Value                     18207 non-null  float64
 12  Wage                      18207 non-null  object
 13  Special                   18207 non-null  int64
 14  Preferred Foot            18159 non-null  object
 15  International Reputation  18159 non-null  float64
 16  Weak Foot                 18159 non-null  float64
 17  Skill Moves               18159 non-null  float64
 18  Work Rate                 18159 non-null  object
 19  Body Type                 18159 non-null  object
 20  Real Face                 18159 non-null  object
 21  Position                  18147 non-null  object
 22  Jersey Number             18147 non-null  float64
 23  Joined                    16654 non-null  object
 24  Loaned From               1264 non-null   object
 25  Contract Valid Until      17918 non-null  object
 26  Height                    18159 non-null  object
 27  Weight                    18159 non-null  object
 28  LS                        16122 non-null  object
 29  ST                        16122 non-null  object
 30  RS                        16122 non-null  object
 31  LW                        16122 non-null  object
 32  LF                        16122 non-null  object
 33  CF                        16122 non-null  object
 34  RF                        16122 non-null  object
 35  RW                        16122 non-null  object
 36  LAM                       16122 non-null  object
 37  CAM                       16122 non-null  object
 38  RAM                       16122 non-null  object
 39  LM                        16122 non-null  object
 40  LCM                       16122 non-null  object
 41  CM                        16122 non-null  object
 42  RCM                       16122 non-null  object
 43  RM                        16122 non-null  object
 44  LWB                       16122 non-null  object
 45  LDM                       16122 non-null  object
 46  CDM                       16122 non-null  object
 47  RDM                       16122 non-null  object
 48  RWB                       16122 non-null  object
 49  LB                        16122 non-null  object
 50  LCB                       16122 non-null  object
 51  CB                        16122 non-null  object
 52  RCB                       16122 non-null  object
 53  RB                        16122 non-null  object
 54  Crossing                  18159 non-null  float64
 55  Finishing                 18159 non-null  float64
 56  HeadingAccuracy           18159 non-null  float64
 57  ShortPassing              18159 non-null  float64
 58  Volleys                   18159 non-null  float64
 59  Dribbling                 18159 non-null  float64
 60  Curve                     18159 non-null  float64
 61  FKAccuracy                18159 non-null  float64
 62  LongPassing               18159 non-null  float64
 63  BallControl               18159 non-null  float64
 64  Acceleration              18159 non-null  float64
 65  SprintSpeed               18159 non-null  float64
 66  Agility                   18159 non-null  float64
 67  Reactions                 18159 non-null  float64
 68  Balance                   18159 non-null  float64
 69  ShotPower                 18159 non-null  float64
 70  Jumping                   18159 non-null  float64
 71  Stamina                   18159 non-null  float64
 72  Strength                  18159 non-null  float64
 73  LongShots                 18159 non-null  float64
 74  Aggression                18159 non-null  float64
 75  Interceptions             18159 non-null  float64
 76  Positioning               18159 non-null  float64
 77  Vision                    18159 non-null  float64
 78  Penalties                 18159 non-null  float64
 79  Composure                 18159 non-null  float64
 80  Marking                   18159 non-null  float64
 81  StandingTackle            18159 non-null  float64
 82  SlidingTackle             18159 non-null  float64
 83  GKDiving                  18159 non-null  float64
 84  GKHandling                18159 non-null  float64
 85  GKKicking                 18159 non-null  float64
 86  GKPositioning             18159 non-null  float64
 87  GKReflexes                18159 non-null  float64
 88  Release Clause            16643 non-null  object
dtypes: float64(39), int64(6), object(44)
memory usage: 12.4+ MB

In [55]:
pd.options.display.max_info_columns     # mostra qtde máxima de colunas que podem ser exibidas

100

In [80]:
df_Fifa['Value']

0        110.5
1         77.0
2        118.5
3         72.0
4        102.0
         ...
18202     60.0
18203     60.0
18204     60.0
18205     60.0
18206     60.0
Name: Value, Length: 18207, dtype: float64

In [73]:
# Exercício 9
# 4. Se alguma variável/atributo é do tipo string (object) e supostamente deveria ser numérica, como alteramos o tipo?

# Por exemplo, alterando coluna 'Value' cujos dados apresentam primeiro caracter cifrão e último caracter M (million) e K (thousand)
def elimina_notacao(moeda):
    moeda = moeda.replace('€','').replace('M','').replace('K','')
    return moeda

df_Fifa['Value'] = df_Fifa['Value'].apply(elimina_notacao)
df_Fifa['Value']

In [ ]:
# Por exemplo, alterando coluna 'Value' cujos dados apresentam primeiro caracter cifrão e último caracter M (million) e K (thousand)

# Inicialmente eliminando notação:

def elimina_notacao(moeda):
    moeda = moeda.replace('€','').replace('M','').replace('K','')
    return moeda

df_Fifa['Value'] = df_Fifa['Value'].apply(elimina_notacao)
df_Fifa['Value']

In [77]:
# Alterando string para numeric
df_Fifa['Value'] = pd.to_numeric(df_Fifa['Value'])

In [78]:
df_Fifa['Value']

0        110.5
1         77.0
2        118.5
3         72.0
4        102.0
         ...
18202     60.0
18203     60.0
18204     60.0
18205     60.0
18206     60.0
Name: Value, Length: 18207, dtype: float64

In [ ]:
# Exercício 9
# 5.a) Normalize os nomes das colunas, ou seja, renomeie o nome das colunas para minúsculo.
# 5.b) Há Missing values nos dados? 
# 5.c) Se sim, qual sua proposta (proposta do grupo) para tratar esses Missing values?

In [177]:
nome_colunas = df_Fifa.columns

In [178]:
df_Fifa.columns = [col.lower() for col in nome_colunas]

In [179]:
df_Fifa.columns

Index(['unnamed: 0', 'id', 'name', 'age', 'photo', 'nationality', 'flag',
       'overall', 'potential', 'club', 'club logo', 'value', 'wage', 'special',
       'preferred foot', 'international reputation', 'weak foot',
       'skill moves', 'work rate', 'body type', 'real face', 'position',
       'jersey number', 'joined', 'loaned from', 'contract valid until',
       'height', 'weight', 'ls', 'st', 'rs', 'lw', 'lf', 'cf', 'rf', 'rw',
       'lam', 'cam', 'ram', 'lm', 'lcm', 'cm', 'rcm', 'rm', 'lwb', 'ldm',
       'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb', 'rcb', 'rb', 'crossing',
       'finishing', 'headingaccuracy', 'shortpassing', 'volleys', 'dribbling',
       'curve', 'fkaccuracy', 'longpassing', 'ballcontrol', 'acceleration',
       'sprintspeed', 'agility', 'reactions', 'balance', 'shotpower',
       'jumping', 'stamina', 'strength', 'longshots', 'aggression',
       'interceptions', 'positioning', 'vision', 'penalties', 'composure',
       'marking', 'standingtackle', 'slidingtackle', 'gkdiving', 'gkhandling',
       'gkkicking', 'gkpositioning', 'gkreflexes', 'release clause'],
      dtype='object')

In [91]:
# Exercício 9
# 5.b) Há Missing values nos dados? 
# 5.c) Se sim, qual sua proposta (proposta do grupo) para tratar esses Missing values?

df_Fifa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18207 entries, 0 to 18206
Data columns (total 89 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   unnamed: 0                18207 non-null  int64
 1   id                        18207 non-null  int64
 2   name                      18207 non-null  object
 3   age                       18207 non-null  int64
 4   photo                     18207 non-null  object
 5   nationality               18207 non-null  object
 6   flag                      18207 non-null  object
 7   overall                   18207 non-null  int64
 8   potential                 18207 non-null  int64
 9   club                      17966 non-null  object
 10  club logo                 18207 non-null  object
 11  value                     18207 non-null  float64
 12  wage                      18207 non-null  object
 13  special                   18207 non-null  int64
 14  preferred foot            18159 non-null  object
 15  international reputation  18159 non-null  float64
 16  weak foot                 18159 non-null  float64
 17  skill moves               18159 non-null  float64
 18  work rate                 18159 non-null  object
 19  body type                 18159 non-null  object
 20  real face                 18159 non-null  object
 21  position                  18147 non-null  object
 22  jersey number             18147 non-null  float64
 23  joined                    16654 non-null  object
 24  loaned from               1264 non-null   object
 25  contract valid until      17918 non-null  object
 26  height                    18159 non-null  object
 27  weight                    18159 non-null  object
 28  ls                        16122 non-null  object
 29  st                        16122 non-null  object
 30  rs                        16122 non-null  object
 31  lw                        16122 non-null  object
 32  lf                        16122 non-null  object
 33  cf                        16122 non-null  object
 34  rf                        16122 non-null  object
 35  rw                        16122 non-null  object
 36  lam                       16122 non-null  object
 37  cam                       16122 non-null  object
 38  ram                       16122 non-null  object
 39  lm                        16122 non-null  object
 40  lcm                       16122 non-null  object
 41  cm                        16122 non-null  object
 42  rcm                       16122 non-null  object
 43  rm                        16122 non-null  object
 44  lwb                       16122 non-null  object
 45  ldm                       16122 non-null  object
 46  cdm                       16122 non-null  object
 47  rdm                       16122 non-null  object
 48  rwb                       16122 non-null  object
 49  lb                        16122 non-null  object
 50  lcb                       16122 non-null  object
 51  cb                        16122 non-null  object
 52  rcb                       16122 non-null  object
 53  rb                        16122 non-null  object
 54  crossing                  18159 non-null  float64
 55  finishing                 18159 non-null  float64
 56  headingaccuracy           18159 non-null  float64
 57  shortpassing              18159 non-null  float64
 58  volleys                   18159 non-null  float64
 59  dribbling                 18159 non-null  float64
 60  curve                     18159 non-null  float64
 61  fkaccuracy                18159 non-null  float64
 62  longpassing               18159 non-null  float64
 63  ballcontrol               18159 non-null  float64
 64  acceleration              18159 non-null  float64
 65  sprintspeed               18159 non-null  float64
 66  agility                   18159 non-null  float64
 67  reactions                 18159 non-null  float64
 68  balance                   18159 non-null  float64
 69  shotpower                 18159 non-null  float64
 70  jumping                   18159 non-null  float64
 71  stamina                   18159 non-null  float64
 72  strength                  18159 non-null  float64
 73  longshots                 18159 non-null  float64
 74  aggression                18159 non-null  float64
 75  interceptions             18159 non-null  float64
 76  positioning               18159 non-null  float64
 77  vision                    18159 non-null  float64
 78  penalties                 18159 non-null  float64
 79  composure                 18159 non-null  float64
 80  marking                   18159 non-null  float64
 81  standingtackle            18159 non-null  float64
 82  slidingtackle             18159 non-null  float64
 83  gkdiving                  18159 non-null  float64
 84  gkhandling                18159 non-null  float64
 85  gkkicking                 18159 non-null  float64
 86  gkpositioning             18159 non-null  float64
 87  gkreflexes                18159 non-null  float64
 88  release clause            16643 non-null  object
dtypes: float64(39), int64(6), object(44)
memory usage: 12.4+ MB

In [98]:
# Sim, há Missing values pois ao rodar df.info() várias colunas indicam valores non-null menores que o número total de linhas (18207 linhas).

df_Fifa.isna().sum()

unnamed: 0           0
id                   0
name                 0
age                  0
photo                0
                  ...
gkhandling          48
gkkicking           48
gkpositioning       48
gkreflexes          48
release clause    1564
Length: 89, dtype: int64

In [97]:
df_Fifa.isnull().sum()

unnamed: 0           0
id                   0
name                 0
age                  0
photo                0
                  ...
gkhandling          48
gkkicking           48
gkpositioning       48
gkreflexes          48
release clause    1564
Length: 89, dtype: int64

In [99]:
# 6. Qual a distribuição do número de jogadores por países? Apresente uma tabela com a distribuição.
df_Fifa.head()

   unnamed: 0      id  ... gkreflexes  release clause
0           0  158023  ...        8.0         €226.5M
1           1   20801  ...       11.0         €127.1M
2           2  190871  ...       11.0         €228.1M
3           3  193080  ...       94.0         €138.6M
4           4  192985  ...       13.0         €196.4M

[5 rows x 89 columns]

In [109]:
df_Fifa.value_counts(['nationality'])     # igual a: df_Fifa['nationality'].value_counts()

nationality
England        1662
Germany        1198
Spain          1072
Argentina       937
France          914
               ...
Puerto Rico       1
St Lucia          1
Qatar             1
South Sudan       1
Mauritius         1
Length: 164, dtype: int64

In [146]:
from collections import Counter
d_nationality = Counter(df_Fifa['nationality'])

In [147]:
d_nationality

Counter({'Afghanistan': 4,
         'Albania': 40,
         'Algeria': 60,
         'Andorra': 1,
         'Angola': 15,
         'Antigua & Barbuda': 4,
         'Argentina': 937,
         'Armenia': 10,
         'Australia': 236,
         'Austria': 298,
         'Azerbaijan': 5,
         'Barbados': 3,
         'Belarus': 4,
         'Belgium': 260,
         'Belize': 1,
         'Benin': 15,
         'Bermuda': 2,
         'Bolivia': 30,
         'Bosnia Herzegovina': 61,
         'Botswana': 1,
         'Brazil': 827,
         'Bulgaria': 32,
         'Burkina Faso': 16,
         'Burundi': 3,
         'Cameroon': 90,
         'Canada': 64,
         'Cape Verde': 19,
         'Central African Rep.': 3,
         'Chad': 2,
         'Chile': 391,
         'China PR': 392,
         'Colombia': 618,
         'Comoros': 6,
         'Congo': 25,
         'Costa Rica': 30,
         'Croatia': 126,
         'Cuba': 4,
         'Curacao': 14,
         'Cyprus': 8,
         'Czech Republic': 100,
         'DR Congo': 52,
         'Denmark': 336,
         'Dominican Republic': 2,
         'Ecuador': 43,
         'Egypt': 31,
         'El Salvador': 5,
         'England': 1662,
         'Equatorial Guinea': 5,
         'Eritrea': 2,
         'Estonia': 13,
         'Ethiopia': 1,
         'FYR Macedonia': 20,
         'Faroe Islands': 6,
         'Fiji': 1,
         'Finland': 67,
         'France': 914,
         'Gabon': 15,
         'Gambia': 15,
         'Georgia': 26,
         'Germany': 1198,
         'Ghana': 114,
         'Greece': 102,
         'Grenada': 1,
         'Guam': 1,
         'Guatemala': 3,
         'Guinea': 31,
         'Guinea Bissau': 15,
         'Guyana': 3,
         'Haiti': 10,
         'Honduras': 16,
         'Hong Kong': 2,
         'Hungary': 38,
         'Iceland': 47,
         'India': 30,
         'Indonesia': 1,
         'Iran': 17,
         'Iraq': 7,
         'Israel': 14,
         'Italy': 702,
         'Ivory Coast': 100,
         'Jamaica': 32,
         'Japan': 478,
         'Jordan': 1,
         'Kazakhstan': 4,
         'Kenya': 10,
         'Korea DPR': 4,
         'Korea Republic': 335,
         'Kosovo': 33,
         'Kuwait': 1,
         'Latvia': 6,
         'Lebanon': 1,
         'Liberia': 1,
         'Libya': 4,
         'Liechtenstein': 3,
         'Lithuania': 8,
         'Luxembourg': 8,
         'Madagascar': 12,
         'Mali': 43,
         'Malta': 1,
         'Mauritania': 4,
         'Mauritius': 1,
         'Mexico': 366,
         'Moldova': 5,
         'Montenegro': 23,
         'Montserrat': 4,
         'Morocco': 85,
         'Mozambique': 4,
         'Namibia': 3,
         'Netherlands': 453,
         'New Caledonia': 1,
         'New Zealand': 44,
         'Nicaragua': 2,
         'Niger': 3,
         'Nigeria': 121,
         'Northern Ireland': 80,
         'Norway': 341,
         'Oman': 1,
         'Palestine': 1,
         'Panama': 15,
         'Paraguay': 85,
         'Peru': 37,
         'Philippines': 2,
         'Poland': 350,
         'Portugal': 322,
         'Puerto Rico': 1,
         'Qatar': 1,
         'Republic of Ireland': 368,
         'Romania': 54,
         'Russia': 79,
         'Rwanda': 1,
         'Saudi Arabia': 340,
         'Scotland': 286,
         'Senegal': 130,
         'Serbia': 126,
         'Sierra Leone': 6,
         'Slovakia': 54,
         'Slovenia': 55,
         'South Africa': 71,
         'South Sudan': 1,
         'Spain': 1072,
         'St Kitts Nevis': 3,
         'St Lucia': 1,
         'Sudan': 3,
         'Suriname': 4,
         'Sweden': 397,
         'Switzerland': 220,
         'Syria': 9,
         'São Tomé & Príncipe': 1,
         'Tanzania': 3,
         'Thailand': 5,
         'Togo': 12,
         'Trinidad & Tobago': 4,
         'Tunisia': 32,
         'Turkey': 303,
         'Uganda': 6,
         'Ukraine': 73,
         'United Arab Emirates': 1,
         'United States': 353,
         'Uruguay': 149,
         'Uzbekistan': 2,
         'Venezuela': 67,
         'Wales': 129,
         'Zambia': 9,
         'Zimbabwe': 13})

In [134]:
d_nationality.keys()

dict_keys(['Argentina', 'Portugal', 'Brazil', 'Spain', 'Belgium', 'Croatia', 'Uruguay', 'Slovenia', 'Poland', 'Germany', 'France', 'England', 'Italy', 'Egypt', 'Colombia', 'Denmark', 'Gabon', 'Wales', 'Senegal', 'Costa Rica', 'Slovakia', 'Netherlands', 'Bosnia Herzegovina', 'Morocco', 'Serbia', 'Algeria', 'Austria', 'Greece', 'Chile', 'Sweden', 'Korea Republic', 'Finland', 'Guinea', 'Montenegro', 'Armenia', 'Switzerland', 'Norway', 'Czech Republic', 'Scotland', 'Ghana', 'Central African Rep.', 'DR Congo', 'Ivory Coast', 'Russia', 'Ukraine', 'Iceland', 'Mexico', 'Jamaica', 'Albania', 'Venezuela', 'Japan', 'Turkey', 'Ecuador', 'Paraguay', 'Mali', 'Nigeria', 'Cameroon', 'Dominican Republic', 'Israel', 'Kenya', 'Hungary', 'Republic of Ireland', 'Romania', 'United States', 'Cape Verde', 'Australia', 'Peru', 'Togo', 'Syria', 'Zimbabwe', 'Angola', 'Burkina Faso', 'Iran', 'Estonia', 'Tunisia', 'Equatorial Guinea', 'New Zealand', 'FYR Macedonia', 'United Arab Emirates', 'China PR', 'Guinea Bissau', 'Bulgaria', 'Kosovo', 'South Africa', 'Madagascar', 'Georgia', 'Tanzania', 'Gambia', 'Cuba', 'Belarus', 'Uzbekistan', 'Benin', 'Congo', 'Mozambique', 'Honduras', 'Canada', 'Northern Ireland', 'Cyprus', 'Saudi Arabia', 'Curacao', 'Moldova', 'Bolivia', 'Trinidad & Tobago', 'Sierra Leone', 'Zambia', 'Chad', 'Philippines', 'Haiti', 'Comoros', 'Libya', 'Panama', 'São Tomé & Príncipe', 'Eritrea', 'Oman', 'Iraq', 'Burundi', 'Fiji', 'New Caledonia', 'Lithuania', 'Luxembourg', 'Korea DPR', 'Liechtenstein', 'St Kitts Nevis', 'Latvia', 'Suriname', 'Uganda', 'El Salvador', 'Bermuda', 'Kuwait', 'Antigua & Barbuda', 'Thailand', 'Mauritius', 'Guatemala', 'Liberia', 'Kazakhstan', 'Niger', 'Mauritania', 'Montserrat', 'Namibia', 'Azerbaijan', 'Guam', 'Faroe Islands', 'India', 'Nicaragua', 'Barbados', 'Lebanon', 'Palestine', 'Guyana', 'Sudan', 'St Lucia', 'Ethiopia', 'Puerto Rico', 'Grenada', 'Jordan', 'Rwanda', 'Qatar', 'Afghanistan', 'Hong Kong', 'Andorra', 'Malta', 'Belize', 'South Sudan', 'Indonesia', 'Botswana'])

In [148]:
df_nationality = pd.DataFrame({'Nome do País': d_nationality.keys(), 'Número de Jogadores' : d_nationality.values()})

In [149]:
df_nationality        # não está em ordem decrescente de qtde de jogadores

    Nome do País  Número de Jogadores
0      Argentina                  937
1       Portugal                  322
2         Brazil                  827
3          Spain                 1072
4        Belgium                  260
..           ...                  ...
159        Malta                    1
160       Belize                    1
161  South Sudan                    1
162    Indonesia                    1
163     Botswana                    1

[164 rows x 2 columns]

In [153]:
df_nationality.sort_values(by=['Número de Jogadores'], ascending= False, inplace= True, ignore_index= True)

In [154]:
df_nationality

    Nome do País  Número de Jogadores
0        England                 1662
1        Germany                 1198
2          Spain                 1072
3      Argentina                  937
4         France                  914
..           ...                  ...
159        Qatar                    1
160       Belize                    1
161        Malta                    1
162      Andorra                    1
163     Botswana                    1

[164 rows x 2 columns]

In [155]:
df_nationality.head(20)

           Nome do País  Número de Jogadores
0               England                 1662
1               Germany                 1198
2                 Spain                 1072
3             Argentina                  937
4                France                  914
5                Brazil                  827
6                 Italy                  702
7              Colombia                  618
8                 Japan                  478
9           Netherlands                  453
10               Sweden                  397
11             China PR                  392
12                Chile                  391
13  Republic of Ireland                  368
14               Mexico                  366
15        United States                  353
16               Poland                  350
17               Norway                  341
18         Saudi Arabia                  340
19              Denmark                  336

In [188]:
df_nat_age = df_Fifa[['nationality','age']]

In [189]:
df_nat_age

      nationality  age
0       Argentina   31
1        Portugal   33
2          Brazil   26
3           Spain   27
4         Belgium   27
...           ...  ...
18202     England   19
18203      Sweden   19
18204     England   16
18205     England   17
18206     England   16

[18207 rows x 2 columns]

In [192]:
a = Counter

df_nat_age.Counter(sum(df_nat_age['age']))

AttributeError: ignored

In [172]:
# 7. Qual a média de idade dos jogadores por países (variável/atributo 'Nacionality')
soma_age = []
for pais in df_nationality():
  soma = 0
  for nat, age in df_nat_age.items():
    if nat == pais:
      soma = soma + age
  soma_age.append(soma)

AttributeError: ignored

In [168]:
soma_age

[0, 0]

In [167]:
df_nationality['Somatoria_Idade'] = soma_age

ValueError: ignored